<section class="bg-green" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white text-uppercase sr-leftttitle-1">Contact</h2>
        <hr class="my-4 dark sr-leftttitle-2">
        <p class="mb-5 text-light sr-leftttitle-3">Have a question or want to work together?</p>
      </div>
    </div>
    <div class="row">
        <%= render 'contact_form' %>
    </div>
  </div>
</section>