<section class="bg-dark py-3 text-center" id="footer">
    <div class="container">
        <div class="row">
          <div class="col-sm-1 ml-auto">
            <%= link_to icon("fab", "github", class: "fa-3x mb-3 icon-green", title: "Github"), "https://github.com/romainr88", target: :_blank %>
          </div>
          <div class="col-sm-1 mx-1">
            <%= link_to icon("fab", "linkedin", class: "fa-3x mb-3 icon-green", title: "LinkedIn"), "https://www.linkedin.com/in/romain-rouyer-874170b9", target: :_blank %>
          </div>
          <div class="col-sm-1 mx-1">
            <%= link_to icon("fas", "file-alt", class: "fa-3x mb-3 icon-green", title: "Resume"), "resume.pdf", target: :_blank %>
          </div> 
          <div class="col-sm-1 mr-auto">
            <%= mail_to "romain@romainr.com", icon("fas", "envelope", class: "fa-3x icon-green", title: "Contact") %>
          </div>
        </div>
    </div> 
    <div class="highlight pt-3">Romain Rouyer <span class="text-light">©2019</span></div>
</section>